{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
    <h1>My Portfolio</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>TOTAL</th>
            </tr>
        </thead>
        <tbody>
        {% for stock in stocks %}
            <tr>
                <td>{{ stock.symbol }}</td>
                <td>{{ stock.name }}</td>
                <td>{{ stock.shares }}</td>
                <td>{{ stock.price }}</td>
                <td>{{ stock.total }}</td>
            </tr>
        {% endfor %}
            <tr class="funds">
                <td>Current Funds</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ cash }}</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td>Net Worth</td>
                <td></td>
                <td></td>
                <td></td>
                <td>{{ total }}</td>
            </tr>
        </tfoot>
    </table>
{% endblock %}